html {
  font-size: $rootFontSize;
  color: #333;
  font-family: $font-family-default;
  box-sizing: border-box;
  background: white;
}
@media screen and (min-width: 750px){
  html{
    font-size: 100px;
  }
}

* {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*-webkit-touch-callout:none; 禁用ios长按菜单*/
}
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
legend,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,td {
  text-align: center;
  vertical-align: middle;
}
fieldset,
iframe,
img {
  border: 0;
}
audio,
embed,
img,
object,
video {
  height: auto;
  max-width: 100%;
}
img{
  vertical-align:middle;
}
a img,img{
  image-rendering: optimizeQuality;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ol,
ul {
  list-style: none;
}
caption
{
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
q:after,
q:before {
  content: "";
}
abbr,
acronym {
  border: 0;
}
a {
  color: #0894ec;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:active{
  color:#0a8ddf;
}

a, input, textarea, select, button {
  outline: 0;
}
button,
input,
textarea {
  appearance: none;
  color: #3d4145;
  font-size: .28rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
	}
input[type="search"] {
	appearance: textfield;
	box-sizing: content-box;
	}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	appearance: none;
	}
input[type=datetime-local]{
	appearance: none;
	outline:none;
	border:none;
}
select{
	//appearance: none;
  color: #3d4145;
  font-size: .28rem;
}
.fs-12 {
  font-size: 0.12rem;
}
.fs-14 {
  font-size: 0.14rem;
}
.fs-16 {
  font-size: 0.16rem;
}
.fs-18 {
  font-size: 0.18rem;
}
.fs-20 {
  font-size: 0.2rem;
}
.fs-22 {
  font-size: 0.22rem;
}
.fs-24 {
  font-size: 0.24rem;
}
.fs-26 {
  font-size: 0.26rem;
}
.fs-28 {
  font-size: 0.28rem;
}
.fs-30 {
  font-size: 0.3rem;
}
.fs-32 {
  font-size: 0.32rem;
}
.fs-34 {
  font-size: 0.34rem;
}
.fs-36 {
  font-size: 0.36rem;
}
.fs-48{
  font-size: .48rem;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: 1.5;
  color: $color-text;
  background: $color-bg;
  overflow: hidden;
  max-width: 768px;
  margin: auto auto;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
}
.content-block {
  margin: .7rem 0;
  padding: 0 0.3rem;
  color: #6d6d72;
}
.content-block-title {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.32rem;
  text-transform: uppercase;
  line-height: 1;
  color: #6d6d72;
  margin: .7rem 0.3rem 0.2rem;
  + .list-block, + .content-block, +.card {
    margin-top: 0.2rem;
  }
}

.bar-nav ~ .content {
  top: $bar-base-height;
}

.bar-footer ~ .content {
  bottom: $bar-base-height;
}
.bar-tab ~ .content {
  bottom: $bar-tab-height;
}
