@charset "UTF-8";
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.overflow-hide {
  overflow: hidden;
}
.clearfix:after{
  content:"";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix{zoom:1}

.disappear {
  visibility: hidden;
}
.appear {
  visibility: visible!important;
  opacity: 1;
}
.rel-position {
  position: relative;
}
.relative{
  position: relative;
}
.txt-nowrap {
  white-space: nowrap;
}
.radius{
  border-radius: .1rem;
}
.vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.horizantal {
  margin: 0 auto;
}
.center,
.horizantal {
  position: absolute;
  left: 0;
  right: 0;
}
.center {
  top: 0;
  bottom: 0;
  margin: auto;
}
.margin-center {
  margin: 0 auto;
}
.txt-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.border-default {
  border: $border-default;
}
.content-margin {
  margin: $bar-side-spacing;
}
.content-padding {
  padding: $bar-side-spacing;
}
.content-padding-beside{
  padding: 0 $bar-side-spacing;
}
.content-padding-updown{
  padding: $bar-side-spacing 0;
}
.content-padding-down{
  padding-bottom: $bar-base-height;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: 0 !important;
}

.bg-white {
  background: #fff!important;
}
.bg-primary {
  background: #{$color-primary}!important;
}
.bg-success {
  background: #{$color-success}!important;
}
.bg-danger {
  background: #{$color-danger}!important;
}
.bg-warning {
  background: #{$color-warning}!important;
}
.bg-black{
  background: #000000;
}
.inline-vertical {
  vertical-align: middle;
}
.full {
  width: 100%;
  height: 100%;
}
.dis-table {
  display: table;
  table-layout: fixed;
  word-break: break-all;
}
.table-cell {
  display: table-cell;
}
.dis-table .table-cell {
  vertical-align: top;
}
.box-shadow {
  box-shadow: 0 0.08rem 0.16rem 0 rgba(0,0,0,0.1), 0 0.06rem 0.2rem 0 rgba(0,0,0,0.1);
}
.modal-shadow{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10600;
  visibility: hidden;
  opacity: 0;
  transition-duration: 400ms;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &.visible{
    visibility: visible;
    opacity:1;
  }
  &.modal-content-top{
    align-items: flex-start;
    align-content: flex-start;
  }
  &.modal-content-down{
    align-items: flex-end;
    align-content: flex-end;
  }
  &.modal-content-center{
    align-items: center;
    align-content: center;
  }
}
.pointer {
  cursor: pointer;
}
.lh-1{
  line-height: 1;
}
.lh-1_5 {
  line-height: 1.5;
}
.lh-2_ {
  line-height: 2;
}
.lh-2_5 {
  line-height: 2.5;
}
.width-full {
  width: 100%!important;
}
.width-half {
  width: 50%!important;
}
.height-full {
  height: 100%!important;
}
.height-half {
  height: 50%!important;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-99 {
  z-index: 99;
}
// 水平滚动，隐藏滚动条
.horizantal-scroll{
  overflow: hidden;
  overflow-x: auto;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 500;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -ms-scroll-chaining: chained;
  -ms-overflow-style: none;
  -ms-content-zooming: zoom;
  -ms-scroll-rails: none;
  -ms-content-zoom-limit-min: 100%;
  -ms-content-zoom-limit-max: 500%;
  -ms-scroll-snap-type: proximity;
  -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
  -ms-overflow-style: none;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
    display:none
  }
}
