
.form{
  width: 100%;
  background: white;
  color: #3d4145;
  font-size: .28rem;
  .form-item{
    width: 100%;
    padding: $bar-side-spacing $bar-side-spacing;
    @include flexMainAlign(start);
    @include thinLine(down, #d7d5d8);
    position: relative;
    &.form-item-small{
      padding-top: .15rem;
      padding-bottom: .15rem;
    }
    &.form-item-not-beside{
      padding: $bar-side-spacing 0;
    }
    &.form-item-not-updown{
      padding: 0 $bar-side-spacing;
    }
    &.form-item-not-line{
      @include removeThinLine(down);
    }

    input,textarea{
      background: transparent;
      border:none;
    }
    input.text{
      height: .5rem;
      width: 1.9rem;
      border: 1px solid #c9c9c9;
      padding:0 .1rem;
    }
    textarea{
      font-family: $font-family-default;
      resize: none;
    }
    select{
      min-width: 2rem;
      min-height: .5rem;
      background: white;
      border-radius: .1rem;
      border: 1px solid #c9c9c9;
      padding: .1rem .3rem .15rem .1rem;
    }
  }
}

.form-file{
  position: relative;
  overflow: hidden;
  input[type='file']{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
.form-checkbox,.form-radio{
  display: inline-block;
  position: relative;
  i{
    width: .44rem;
    height: .44rem;
    position: relative;
    border-radius: .44rem;
    border: 1px solid #c7c7cc;
    box-sizing: border-box;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -0.12rem;
      top: 50%;
      margin-top: -0.08rem;
      width: 0.24rem;
      height: 0.18rem;
    }
  }
  input:checked + i{
    border: 1px solid transparent;
    background-color: #0894ec;
    &:after{
      background: no-repeat center;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E");
      background-size: 0.24rem 0.18rem;
    }
  }
  input{
    display: none;
  }
}


// number input
$signColor:#afafaf;
$borderStyle:1px solid #e0e0e0;
$cellWidth:.65rem;
$cellHeight:.58rem;
@mixin positionCenter(){
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.form-number{
  color: #3d4145;
  display: flex;
  justify-content: center;
  width: $cellWidth*3;
  border: $borderStyle;
  input{
    color: #3d4145;
    background: white;
    font-size: .22rem;
    border: none;
    text-align: center;
    width: $cellWidth;
    border-right: #{$borderStyle}!important;
    outline: none;
  }
  .number-prefix-minus{
    position: relative;
    width: $cellWidth;
    height: $cellHeight;
    border-right:$borderStyle;
    &:before{
      @include positionCenter();
      width: 35%;
      height: 2px;
      background: $signColor;
    }
  }
  .number-suffix-plus{
    position: relative;
    width: $cellWidth;
    height: $cellHeight;
    border-right: none;
    &:before{
      @include positionCenter();
      width: 35%;
      height: 2px;
      background: $signColor;
    }
    &:after{
      @include positionCenter();
      height: 35%;
      width: 2px;
      background: $signColor;
    }
  }
}
