@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_847404_xf99f7k1wb.eot?t=1547633730223'); /* IE9*/
  src: url('//at.alicdn.com/t/font_847404_xf99f7k1wb.eot?t=1547633730223#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_847404_xf99f7k1wb.woff?t=1547633730223') format('woff'),
  url('//at.alicdn.com/t/font_847404_xf99f7k1wb.ttf?t=1547633730223') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_847404_xf99f7k1wb.svg?t=1547633730223#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;

  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox:before {
  content: "\e8b9";
}

.icon-checkbox-fill:before {
  content: "\e8ba";
}

.icon-radio:before {
  content: "\e8bb";
}

.icon-radio-fill:before {
  content: "\e8bc";
}

.icon-more-horizontal:before {
  content: "\e8c4";
}

.icon-more-vertical:before {
  content: "\e8c5";
}

.icon-like-circle-fill:before {
  content: "\e8d8";
}

.icon-unlike-circle-fill:before {
  content: "\e8d9";
}

.icon-xiaoxi:before {
  content: "\e62f";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-Dollar:before {
  content: "\e77e";
}

.icon-close-circle:before {
  content: "\e77f";
}

.icon-frown:before {
  content: "\e780";
}

.icon-meh:before {
  content: "\e781";
}

.icon-plus-circle:before {
  content: "\e799";
}

.icon-play-circle:before {
  content: "\e782";
}

.icon-question-circle:before {
  content: "\e783";
}

.icon-smile:before {
  content: "\e784";
}

.icon-time-circle:before {
  content: "\e785";
}

.icon-timeout:before {
  content: "\e786";
}

.icon-earth:before {
  content: "\e787";
}

.icon-YUAN:before {
  content: "\e788";
}

.icon-warning-circle:before {
  content: "\e789";
}

.icon-sync:before {
  content: "\e78a";
}

.icon-redo:before {
  content: "\e78b";
}

.icon-reload:before {
  content: "\e78c";
}

.icon-message:before {
  content: "\e78d";
}

.icon-poweroff:before {
  content: "\e78e";
}

.icon-logout:before {
  content: "\e78f";
}

.icon-login:before {
  content: "\e790";
}

.icon-setting:before {
  content: "\e791";
}

.icon-eye:before {
  content: "\e792";
}

.icon-location:before {
  content: "\e793";
}

.icon-edit-square:before {
  content: "\e794";
}

.icon-export:before {
  content: "\e795";
}

.icon-save:before {
  content: "\e796";
}

.icon-Import:before {
  content: "\e797";
}

.icon-detail:before {
  content: "\e798";
}

.icon-plus-square:before {
  content: "\e79a";
}

.icon-adduser:before {
  content: "\e7ae";
}

.icon-deleteteam:before {
  content: "\e7af";
}

.icon-deleteuser:before {
  content: "\e7b0";
}

.icon-addteam:before {
  content: "\e7b1";
}

.icon-user:before {
  content: "\e7b2";
}

.icon-team:before {
  content: "\e7b3";
}

.icon-areachart:before {
  content: "\e7b4";
}

.icon-redenvelope:before {
  content: "\e7b5";
}

.icon-file:before {
  content: "\e7bb";
}

.icon-safetycertificate:before {
  content: "\e7c0";
}

.icon-alert:before {
  content: "\e7c3";
}

.icon-delete:before {
  content: "\e7c4";
}

.icon-hourglass:before {
  content: "\e7c5";
}

.icon-experiment:before {
  content: "\e7c6";
}

.icon-bell:before {
  content: "\e7c7";
}

.icon-trophy:before {
  content: "\e7c8";
}

.icon-USB:before {
  content: "\e7c9";
}

.icon-skin:before {
  content: "\e7ca";
}

.icon-home:before {
  content: "\e7cb";
}

.icon-like:before {
  content: "\e7cc";
}

.icon-unlike:before {
  content: "\e7cd";
}

.icon-unlock:before {
  content: "\e7ce";
}

.icon-lock:before {
  content: "\e7cf";
}

.icon-customerservice:before {
  content: "\e7d0";
}

.icon-flag:before {
  content: "\e7d1";
}

.icon-shop:before {
  content: "\e7d2";
}

.icon-rocket:before {
  content: "\e7d3";
}

.icon-shopping:before {
  content: "\e7d4";
}

.icon-contacts:before {
  content: "\e7d5";
}

.icon-scan:before {
  content: "\e7d6";
}

.icon-sliders:before {
  content: "\e7d7";
}

.icon-laptop:before {
  content: "\e7d8";
}

.icon-barcode:before {
  content: "\e7d9";
}

.icon-camera:before {
  content: "\e7da";
}

.icon-car:before {
  content: "\e7db";
}

.icon-read:before {
  content: "\e7dc";
}

.icon-cloud-upload:before {
  content: "\e7dd";
}

.icon-cloud:before {
  content: "\e7de";
}

.icon-cloud-download:before {
  content: "\e7df";
}

.icon-video:before {
  content: "\e7e0";
}

.icon-notification:before {
  content: "\e7e1";
}

.icon-sound:before {
  content: "\e7e2";
}

.icon-qrcode:before {
  content: "\e7e3";
}

.icon-image:before {
  content: "\e7e4";
}

.icon-mail:before {
  content: "\e7e5";
}

.icon-idcard:before {
  content: "\e7e6";
}

.icon-heart:before {
  content: "\e7e7";
}

.icon-error:before {
  content: "\e7e8";
}

.icon-star:before {
  content: "\e7e9";
}

.icon-wifi:before {
  content: "\e7ea";
}

.icon-edit:before {
  content: "\e7eb";
}

.icon-key:before {
  content: "\e7ec";
}

.icon-disconnect:before {
  content: "\e7ed";
}

.icon-link:before {
  content: "\e7ee";
}

.icon-man:before {
  content: "\e7ef";
}

.icon-percentage:before {
  content: "\e7f0";
}

.icon-search:before {
  content: "\e7f1";
}

.icon-phone:before {
  content: "\e7f2";
}

.icon-shake:before {
  content: "\e7f3";
}

.icon-tag:before {
  content: "\e7f4";
}

.icon-wrench:before {
  content: "\e7f5";
}

.icon-woman:before {
  content: "\e7f6";
}

.icon-scissor:before {
  content: "\e7f7";
}

.icon-right:before {
  content: "\e7f8";
}

.icon-left:before {
  content: "\e7f9";
}

.icon-up:before {
  content: "\e7fa";
}

.icon-down:before {
  content: "\e7fb";
}

.icon-fullscreen:before {
  content: "\e7fc";
}

.icon-fullscreen-exit:before {
  content: "\e7fd";
}

.icon-doubleleft:before {
  content: "\e7fe";
}

.icon-doubleright:before {
  content: "\e7ff";
}

.icon-arrowright:before {
  content: "\e800";
}

.icon-arrowup:before {
  content: "\e801";
}

.icon-arrowleft:before {
  content: "\e802";
}

.icon-arrowdown:before {
  content: "\e803";
}

.icon-upload:before {
  content: "\e804";
}

.icon-download:before {
  content: "\e805";
}

.icon-sort-descending:before {
  content: "\e806";
}

.icon-sort-ascending:before {
  content: "\e807";
}

.icon-swap:before {
  content: "\e808";
}

.icon-rise:before {
  content: "\e809";
}

.icon-unorderedlist:before {
  content: "\e80a";
}

.icon-check:before {
  content: "\e80b";
}

.icon-ellipsis:before {
  content: "\e80c";
}

.icon-close:before {
  content: "\e80e";
}

.icon-question:before {
  content: "\e80f";
}

.icon-plus:before {
  content: "\e813";
}

.icon-rollback:before {
  content: "\e810";
}

.icon-pause:before {
  content: "\e812";
}

.icon-desktop:before {
  content: "\e842";
}

.icon-gift:before {
  content: "\e843";
}

.icon-stop:before {
  content: "\e844";
}

.icon-fire:before {
  content: "\e845";
}

.icon-thunderbolt:before {
  content: "\e846";
}

.icon-check-circle-fill:before {
  content: "\e847";
}

.icon-close-circle-fill:before {
  content: "\e848";
}

.icon-info-circle-fill:before {
  content: "\e849";
}

.icon-plus-circle-fill:before {
  content: "\e857";
}

.icon-question-circle-fill:before {
  content: "\e84a";
}

.icon-frown-fill:before {
  content: "\e84b";
}

.icon-Dollar-circle-fill:before {
  content: "\e84c";
}

.icon-poweroff-circle-fill:before {
  content: "\e84d";
}

.icon-meh-fill:before {
  content: "\e84e";
}

.icon-play-circle-fill:before {
  content: "\e84f";
}

.icon-smile-fill:before {
  content: "\e850";
}

.icon-warning-circle-fill:before {
  content: "\e851";
}

.icon-time-circle-fill:before {
  content: "\e852";
}

.icon-YUAN-circle-fill:before {
  content: "\e853";
}

.icon-heart-fill:before {
  content: "\e854";
}

.icon-piechart-circle-fil:before {
  content: "\e855";
}

.icon-message-fill:before {
  content: "\e856";
}

.icon-image-fill:before {
  content: "\e860";
}

.icon-idcard-fill:before {
  content: "\e861";
}

.icon-read-fill:before {
  content: "\e862";
}

.icon-contacts-fill:before {
  content: "\e863";
}

.icon-delete-fill:before {
  content: "\e864";
}

.icon-notification-fill:before {
  content: "\e865";
}

.icon-flag-fill:before {
  content: "\e866";
}

.icon-shopping-fill:before {
  content: "\e867";
}

.icon-skin-fill:before {
  content: "\e868";
}

.icon-video-fill:before {
  content: "\e869";
}

.icon-sound-fill:before {
  content: "\e86a";
}

.icon-bulb-fill:before {
  content: "\e86b";
}

.icon-bell-fill:before {
  content: "\e86c";
}

.icon-fire-fill:before {
  content: "\e86d";
}

.icon-gift-fill:before {
  content: "\e86e";
}

.icon-hourglass-fill:before {
  content: "\e86f";
}

.icon-home-fill:before {
  content: "\e870";
}

.icon-trophy-fill:before {
  content: "\e871";
}

.icon-location-fill:before {
  content: "\e872";
}

.icon-cloud-fill:before {
  content: "\e873";
}

.icon-customerservice-fill:before {
  content: "\e874";
}

.icon-eye-fill:before {
  content: "\e875";
}

.icon-like-fill:before {
  content: "\e876";
}

.icon-lock-fill:before {
  content: "\e877";
}

.icon-unlike-fill:before {
  content: "\e878";
}

.icon-star-fill:before {
  content: "\e879";
}

.icon-unlock-fill:before {
  content: "\e87a";
}

.icon-alert-fill:before {
  content: "\e87b";
}

.icon-phone-fill:before {
  content: "\e87c";
}

.icon-edit-fill:before {
  content: "\e87d";
}

.icon-thunderbolt-fill:before {
  content: "\e87e";
}

.icon-wrench-fill:before {
  content: "\e87f";
}

.icon-camera-fill:before {
  content: "\e880";
}

.icon-mail-fill:before {
  content: "\e881";
}

.icon-setting-fill:before {
  content: "\e882";
}

.icon-sliders-fill:before {
  content: "\e883";
}

.icon-alibaba:before {
  content: "\e884";
}

.icon-alipay:before {
  content: "\e888";
}

.icon-taobao:before {
  content: "\e889";
}

.icon-zhihu:before {
  content: "\e88a";
}

.icon-linkedin:before {
  content: "\e88c";
}

.icon-facebook:before {
  content: "\e88d";
}

.icon-chrome:before {
  content: "\e88e";
}

.icon-apple:before {
  content: "\e890";
}

.icon-android:before {
  content: "\e891";
}

.icon-instagram:before {
  content: "\e892";
}

.icon-windows:before {
  content: "\e893";
}

.icon-Youtube:before {
  content: "\e894";
}

.icon-Gitlab-fill:before {
  content: "\e895";
}

.icon-dingtalk:before {
  content: "\e896";
}

.icon-android-fill:before {
  content: "\e897";
}

.icon-apple-fill:before {
  content: "\e898";
}

.icon-windows-fill:before {
  content: "\e89a";
}

.icon-QQ:before {
  content: "\e89b";
}

.icon-twitter:before {
  content: "\e89c";
}

.icon-weibo:before {
  content: "\e89d";
}

.icon-Youtube-fill:before {
  content: "\e89e";
}

.icon-wechat-fill:before {
  content: "\e89f";
}

.icon-chrome-fill:before {
  content: "\e8a0";
}

.icon-alipay-circle-fill:before {
  content: "\e8a1";
}

.icon-github-fill:before {
  content: "\e8a3";
}

.icon-QQ-circle-fill:before {
  content: "\e8a4";
}

.icon-twitter-circle-fill:before {
  content: "\e8a7";
}

.icon-taobao-circle-fill:before {
  content: "\e8a8";
}

.icon-weibo-circle-fill:before {
  content: "\e8a9";
}

.icon-zhihu-circle-fill:before {
  content: "\e8aa";
}

.icon-alipay-square-fill:before {
  content: "\e8ab";
}

.icon-facebook-fill:before {
  content: "\e8ac";
}

.icon-instagram-fill:before {
  content: "\e8ad";
}

.icon-linkedin-fill:before {
  content: "\e8ae";
}

.icon-QQ-square-fill:before {
  content: "\e8af";
}

.icon-twitter-square-fill:before {
  content: "\e8b0";
}

.icon-taobao-square-fill:before {
  content: "\e8b1";
}

.icon-weibo-square-fill:before {
  content: "\e8b2";
}

.icon-zhihu-square-fill:before {
  content: "\e8b3";
}

.icon-zoomout:before {
  content: "\e8b4";
}

.icon-audio:before {
  content: "\e8b5";
}

.icon-audio-fill:before {
  content: "\e8b6";
}

.icon-robot:before {
  content: "\e8b7";
}

.icon-zoomin:before {
  content: "\e8b8";
}
