$loadingPointNum:8;
$loadingSpeed:0.1s;
.loading-container{
  .loading-wrap{
    width: 0.6rem;
    height: 0.6rem;
    position: relative;
    .circle{
      display: block;
      position: absolute;
      z-index: 99;
      width: .1rem;
      height: .1rem;
      border-radius: 50%;
      background:#fff;
      opacity: .5;
      @for $i from 1 through $loadingPointNum{
        &:nth-child(#{$i}){
          animation: zoomOutIn $loadingPointNum*$loadingSpeed ease #{$i*$loadingSpeed} infinite;
        }
      }
    }
  }
  .loading-tip{
    margin-top: .2rem;
    position: relative;
    &:after{
      position: absolute;
      content: '...';
    }
  }
}
@keyframes zoomOutIn {
  0%{
    transform: scale(1);
    opacity: .5;
  }
  50%{
    transform: scale(1.5);
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: .5;
  }
}
