$loadingPointNum:8;
$loadingSpeed:100ms;
.loading-container{
  .loading-wrap{
    width: .8rem;
    height: .8rem;
    position: relative;
    .circle{
      display: block;
      position: absolute;
      z-index: 99;
      width: .18rem;
      height: .18rem;
      border-radius: 50%;
      background:#fff;
      opacity: .5;
      transform: scale3d(0.6,0.6,0.6);
    }
    @for $i from 1 through $loadingPointNum{
      .zoom-out-in{
        &:nth-child(#{$i}){
          animation: zoomOutIn $loadingPointNum*$loadingSpeed ease #{$i*$loadingSpeed} infinite;
        }
      }
    }
  }
  .loading-tip{
    margin-top: .2rem;
    position: relative;
    &:after{
      position: absolute;
      content: '';
    }
  }
}
@keyframes zoomOutIn {
  0%{
    transform: scale3d(0.6,0.6,0.6);
    opacity: .5;
  }
  50%{
    transform: scale3d(.9,.9,.9);
    opacity: 1;
  }
  100%{
    transform: scale3d(0.6,0.6,0.6);
    opacity: .5;
  }
}
