@mixin thinLine($position, $color){
    @if $position == top or $position == left{
      &:before {
        content: '';
        position: absolute;
        background-color: $color;
        display: block;
        z-index: 15;
        @if $position == top{
          left: 0;
          top: 0;
          bottom: auto;
          right: auto;
          height: 1px;
          width: 100%;
          transform-origin: 50% 0%;
        }
        @if $position == left{
          left: 0;
          top: 0;
          bottom: auto;
          right: auto;
          width: 1px;
          height: 100%;
          transform-origin: 0% 50%;
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
          transform: scaleY(0.5);
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 3) {
          transform: scaleY(0.33);
        }
      }
    }

  @if $position == down or $position == right{
    &:before {
      content: '';
      position: absolute;
      background-color: $color;
      display: block;
      z-index: 15;
      @if $position == down{
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1px;
        width: 100%;
        transform-origin: 50% 100%;
      }
      @if $position == right{
        right: 0;
        top: 0;
        left: auto;
        bottom: auto;
        width: 1px;
        height: 100%;
        transform-origin: 100% 50%;
      }
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        transform: scaleY(0.5);
      }
      @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        transform: scaleY(0.33);
      }
    }
  }


}

@mixin removeThinLine($position){
  @if $position==right and $position==down{
    &:after {
      display: none;
    }
  }
  @else{
    &:before {
      display: none;
    }
  }
}
