.table{
  font-size: .28rem;
  td,th{
    padding: .25rem;
  }
  th{
    font-weight: bold;
    border-bottom: 2px solid #dee2e6;
  }
  &.table-border{
    border: 1px solid $border-default-color;
    td,th{
      border: 1px solid $border-default-color;
    }
    th{
      border-bottom: 2px solid #dee2e6;
    }
  }
}
