.color-default {
  color: #{$color-text}!important;
}

.color-gray {
  color: #999!important;
}

.color-white{
  color: #ffffff!important;
}

.color-primary {
  color: #{$color-primary}!important;
}

.color-success {
  color: #{$color-success}!important;
}
.color-danger {
  color: #{$color-danger}!important;
}
.color-warning {
  color: #{$color-warning}!important;
}

.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}
.txt-right {
  text-align: right;
}
.txt-underline {
  text-decoration: underline;
}
.txt-bold {
  font-weight: $font-weight-bold;
}
.txt-normal {
  font-weight: $font-weight;
}
.txt-light {
  font-weight: $font-weight-light;
}
.txt-break {
  word-wrap: break-word;
}
