//
// Rem
// --------------------------------------------------


//750屏幕为 100px，以此为基础计算出每一种宽度的字体大小

$baseWidth: 750px;        // 设计稿尺寸
$baseSize: 100px;         // 基础尺寸，1rem = 100px

$rootFontSize: ($baseSize / ($baseWidth / 100))#{vw};

//font
$font-family-default:"Helvetica Neue", Helvetica, sans-serif;
$font-size-default: 0.34rem;
$font-weight: 500;
$font-weight-light: 400;
$font-weight-bold: 600;
$line-height-default: 0.42rem;

//color

$color-primary: #0894ec;
$color-danger: #f6383a;
$color-warning: #f60;
$color-success: #4cd964;

// #ff5555
$color-primary-active: #0a8ddf;   //激活颜色是蓝色
//$color-primary-active: #ff5555;     //激活颜色是红色
$color-danger-active: darken($color-danger, 10%);
$color-warning-active: darken($color-warning, 10%);
$color-success-active: darken($color-success, 10%);

$color-split: #e7e7e7;                      //分割线的颜色
$color-bg: #eee;
$color-text: #3d4145;                       //文案色
$color-text-secondary: #5f646e;             //次级文案
$color-text-gray: #999;                     //灰色文案
$color-text-gray-light: #ccc;               //更灰色文案

//link
$color-link: $color-primary;                //链接色有可能不同于主色
$color-link-active: $color-primary-active;  //链接色有可能不同于主色


//bar

$bar-base-height:  0.88rem;
$bar-tab-height:   1rem;
$bar-side-spacing: 0.2rem;


//cards
$card-bg: #fff;

//btn

$btn-font-size: 0.24rem;

//time-function
$timing-fuction: cubic-bezier(.1,.5,.1,1);

//border
$border-default-width: 1px;
$border-default-color: $color-split;
$border-default: $border-default-width solid $border-default-color;
$border-radius: 0.12rem;
