<nav class="bar bar-footer bg-foot no-padding">
    <!--selected-->
    <a class="tab-item width-1-4" href="index.html" data-url="index">
        <i class="icon icon-hourse icon-foot-size"></i>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item width-1-4" href="quan.html" data-url="quan">
        <i class="icon icon-quan icon-foot-size"></i>
        <span class="tab-label">我的券</span>
    </a>
    <a class="tab-item width-1-4" href="collection.html" data-url="collection">
        <i class="icon icon-star-foot icon-foot-size"></i>
        <span class="tab-label">收藏</span>
    </a>
    <a class="tab-item width-1-4" href="personalCenter.html" data-url="personalCenter">
        <i class="icon icon-user-foot icon-foot-size"></i>
        <span class="tab-label">个人中心</span>
    </a>
</nav>
